.imageuserdata > img {
  width: 350px;
  height: 350px;
  border-radius: 15px;
  max-width: 100%;
}

.imageuserdata input {
  width: 95%;
  padding: 10px;
  font-family: 'Jost', sans-serif;
  font-size: 0.9em;
  border-radius: 15px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.imageuserdata input:focus {
  border: 3px solid #555;
}

.changeuserdata input {
  width: 95%;
  padding: 10px;
  font-family: 'Jost', sans-serif;
  font-size: 0.9em;
  border-radius: 15px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.changeuserdata input:focus {
  border: 3px solid #555;
}

.imageuserdata {
  font-family: 'PT Sans', sans-serif;
  width: 42%;
  text-align: center;
  margin-top: 5px;
  border-radius: 15px;
  background: yellow;
  padding: 10px;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}

.datauser {
  font-family: Arial;
  padding: 10px;
  border-radius: 15px;
  margin-top: 5px;
  width: 42%;
  background: yellow;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  float: left;
}

.purchasesusers {
  font-family: Arial;
  padding: 10px;
  border-radius: 15px;
  margin-top: -477px;
  width: 53%;
  background: yellow;
  float: right;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}

.modalDialog:target {
	display: block;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

.warning {
  color: red;
}

.good {
  color: green
}
