.header {
  background: yellow;
  padding: 15px;
  border-radius: 15px;
  font-family: Jost;
}

.header-title {
  font-size: 8em;
}

.header img {
  max-width: 100%;
  width: 60px;
  border-radius: 50px;
}

.header-link {
  text-decoration: none;
  color: black;
}

.search {
  background: yellow;
  margin-top: 5px;
  padding: 15px;
  border-radius: 15px;
}

.form-search-input {
  width: 90%;
  padding: 15px;
  font-family: 'Jost', sans-serif;
  font-size: 0.9em;
  border-radius: 15px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.form-search-input:focus {
  border: 3px solid #555;
}

.form-search-img {
  width: 50px;
  margin-top: 10px;
  margin-right: 20px;
  float: right;
}
